<div class="container">
  <div class="row">
    <div class="col-12">
      <!-- <h1 class="mt-5">Listado de Casas </h1> -->
      <table class="table mt-5">
        <thead>
        </thead>
        <tbody>
          @for (house of houses; track house.id) {
          <tr>
            <td>
              <a [routerLink]="['/casas', house.id, 'detalle']">
                <img style="max-width: 200px;" [src]="house.fotoUrls" class="img-fluid">
              </a>

              <div>

              </div>
             
            <td>{{house.titulo}}</td>
    
    <div>
      <td>Destino: {{house.destino}}</td>
    </div>
    
    <td>{{house.descripcion}} </td>



    <td>
      <button type="button" class="btn btn-success me-2" [routerLink]="['/casas', house.id, 'detalle']">
        <i class="bi bi-eye"></i>
        Ver detalle</button>

    </td>
    <td>
      <button type="button" class="btn btn-primary" [routerLink]="['/casas', house.id, 'reservas']">

        Hacer reserva</button>


    </td>
    </tr>
    }
    </tbody>
    </table>

  </div>

</div>

</div>


   

   