/* .card{
    background-color: rgb(209, 238, 181);
    
} */
/* .card:hover img {
    transform: scale(1.1); /* Efecto de aumento al pasar el cursor sobre la imagen}
     */
  
  
  /* img{
    border: 2px solid #68e69c;
    border-radius: 15px;
  }
  .btn {
    background-color: #7d9e47;
    border: none;
    color:#fff;
}

.btn:hover {
    background-color: #5a6b56;
}
 */
