<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="mt-5">Listado de Usuarios Rural House<i class="bi bi-user"></i></h1>
            <table class="table table-striped mt-5">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Phone</th>
                        <th scope="col">NIF</th>
                        <th scope="col">Street</th>
                        <th scope="col">City</th>
                        <th scope="col">Postal Code</th>
                    </tr>
                </thead>
                <tbody>
                    @for(user of users; track user.id) {
                        <td>
                            tr>
                <td>{{user.id}}</td>
                <td>
               
                        </td>
                        <a [routerLink]="['/Usuario', user.id, 'detalle']">
                            <img style="max-width:100px;" [src]="user.photo">
                          </a>
      
                         
                            <td>{{ user.firstName }}</td>
                            <td>{{ user.lastName }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.phone }}</td>
                            <td>{{ user.nif }}</td>
                            <td>{{ user.street }}</td>
                            <td>{{ user.city }}</td>
                            <td>{{ user.postalCode }}</td>

                   <td>
                    <button class="btn btn-success me-2"
                    [routerLink]="['/Usuarios', user.id, 'detalle']">
                    <i class="bi bi-eye"></i>
                    Ver detalle</button>
                   </td>   
                   
                        
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
