/* Estilos para la barra de navegación */
.navbar {
    background-color: #e4ddd6;
    padding: 10px 20px;
    border-radius: 5px;
}

/* Estilos para el logo */
.navbar-brand img {
    width: 60px;
    height: auto;
    margin-right: 20px;
}

/* Estilos para la lista de navegación */
.navbar-nav {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.navbar-nav li {
    display: inline;
    margin: 0 10px;
}

/* Estilos para los enlaces de navegación */
.navbar-nav a {
    text-decoration: none;
    color: #5a6b56;
    font-weight: bold;
}

.navbar-nav a:hover {
    color: #7d9e47;
}

/* Estilos para el menú desplegable */
.dropdown-menu {
    background-color: #f8e8db;
    border: none;
    border-radius: 5px;
}

.dropdown-item {
    color: #333;
}

.dropdown-item:hover {
    background-color: #ff8800;
    color: #fff;
}

/* Estilos para los botones */
.btn {
    background-color: #7d9e47;
    border: none;
}

.btn:hover {
    background-color: #5a6b56;
}

/* Estilos para el nombre del logo */
.name-logo {
    color: #5a6b56;
}
