
 <!-- booking-list.component.html -->

<div class="booking-list">
    <h2>Lista de reservas</h2>
    <ul>
      <li *ngFor="let booking of bookings">
        <div class="booking-item">
          <h3>{{ booking.customerName }}</h3>
          <p>ID: {{ booking.id }}</p>
          <p>Fecha: {{ booking.date | date }}</p>
          <p>Hora de inicio: {{ booking.startTime }}</p>
          <p>Hora de fin: {{ booking.endTime }}</p>
          <p>Estado: {{ booking.status }}</p>
          <p>Número de habitación: {{ booking.roomNumber }}</p>
          <p>Precio total: {{ booking.totalPrice }}</p>
          <p>Número de teléfono: {{ booking.phoneNumber }}</p>
          <p>Correo electrónico: {{ booking.email }}</p>
          <p>Notas: {{ booking.notes }}</p>
          <!-- Otros campos relevantes -->
        </div>
      </li>
    </ul>
  </div>
   