/* Estilos para la barra de navegación */
.navbar {
    background-color: #e4ddd6;
    padding: 10px 20px;
    border-radius: 5px;
}

/* Estilos para el logo en la barra de navegación */
.navbar-brand img {
    max-width: 100px; /* Cambia el ancho máximo del logo */
    height: auto;
    margin-right: 20px;
}

/* Estilos para los elementos de la barra de navegación */
.navbar-nav {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.navbar-nav li {
    display: inline;
    margin: 0 10px;
}

/* Estilos para los enlaces en la barra de navegación */
.navbar-nav a {
    text-decoration: none;
    color: #5a6b56;
    font-weight: normal; /* Cambia el grosor del texto de 'bold' a 'normal' */
}

.navbar-nav a:hover {
    color: #7d9e47;
}

/* Estilos para el menú desplegable */
.dropdown-menu {
    background-color: #f8e8db;
    border: none;
    border-radius: 5px;
}

.dropdown-item {
    color: #333;
}

.dropdown-item:hover {
    background-color: #ff8800;
    color: #fff;
}

/* Estilos para los botones */
.btn {
    background-color: #7d9e47;
    border: none;
    color: white; /* Cambia el color del texto del botón a blanco */
}

.btn:hover {
    background-color: #5a6b56;
}

/* Estilos para el nombre del logo */
.name-logo {
    color: #5a6b56;
}
/* Estilos para el logo */
img {
    max-width: 40px; /* Cambia el ancho máximo del logo */
    height: 24; /* Mantiene la proporción del logo */
}
/* Estilos para los íconos de redes sociales */
.bi {
    font-size: 1.5rem; /* Tamaño de los íconos más pequeño */
    margin-right: 5px; /* Reducir el margen derecho */
}

/* Estilos para el texto del footer */
p {
    color: #666; /* Cambiar el color del texto a un tono más suave */
    font-weight:normal; /* Cambiar el grosor de la fuente a normal */
}
