

<div class="m-5">
<img src="https://ui-avatars.com/api/?name=A&size=256" class="object-fit-contain border rounded, m-2"  alt="...">
<img src="https://ui-avatars.com/api/?name=A&size=256" class="object-fit-cover border rounded, m-2" alt="...">
<img src="https://ui-avatars.com/api/?name=A&size=256" class="object-fit-fill border rounded, m-2" alt="...">
<img src="https://ui-avatars.com/api/?name=A&size=256" class="object-fit-scale border rounded, m-2" alt="...">
</div>




<div class="container mt-5">
  <div class="row">
    <div class="col-4 text-center">

      @if (house && house.fotoUrls && house.fotoUrls.length > 0){
      <img class="img-fluid" [src]="house.fotoUrls" alt="Foto casa">
      } @else {
      <p class="py-5">Este casa no tiene imagen de perfil.</p>
      <img class="img-fluid" src="https://ui-avatars.com/api/?name=A&size=256">
      }

    </div>


    <div class="col-8">

      @if(house){
      <div class="container px-4 py-5" id="icon-grid">
        <h2 class="pb-2 border-bottom">Casa con id {{house.id}}</h2>

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 g-4 py-5">
          <div class="col d-flex align-items-start">
            <i class="bi bi-house-heart"></i>            <div>
              <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Nombre de la casa</h3>
              <p>{{house.nombre}}</p>
            </div>
          </div>
          <div class="col d-flex align-items-start">
            <i class="bi bi-phone text-info flex-shrink-0 me-3 fs-2"></i>
            <div>
              <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Número de habitaciones</h3>
              <p>{{house.habitaciones}}</p>
            </div>
          </div>
          <div class="col d-flex align-items-start">
            <i class="bi bi-cup-straw text-info flex-shrink-0 me-3 fs-2"></i>
            <div>
              <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Núnero de baños</h3>
              <p>{{house.banos}}</p>
            </div>
          </div>
          <div class="col d-flex align-items-start">
            <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em">
              <use xlink:href="#speedometer2"></use>
            </svg>
            <div>
              <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Precio</h3>
              <p>{{house.precio}}</p>
            </div>
          </div>
          <div class="col d-flex align-items-start">
            <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em">
              <use xlink:href="#toggles2"></use>
            </svg>
            <div>
              <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Metros cuadrados</h3>
              <p>{{house.m2}}</p>
            </div>
          </div>
          <div class="col d-flex align-items-start">
            <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em">
              <use xlink:href="#geo-fill"></use>
            </svg>
            <div>
              <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">PetFriendly</h3>
              <p>{{house.petFriendly}}</p>
            </div>
            <div class="col d-flex align-items-start">
              <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em">
                <use xlink:href="#geo-fill"></use>
              </svg>
              <div>
                <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Piscina</h3>
                <p>{{house.piscina}}</p>
              </div>
            </div>
            <div class="col d-flex align-items-start">
              <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em">
                <use xlink:href="#geo-fill"></use>
              </svg>
              <div>
                <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Jardin</h3>
                <p>{{house.jardin}}</p>
              </div>
            </div>
            <div class="col d-flex align-items-start">
              <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em">
                <use xlink:href="#geo-fill"></use>
              </svg>
              <div>
                <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Terraza</h3>
                <p>{{house.terraza}}</p>
              </div>
            </div>
            <div class="col d-flex align-items-start">
              <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em">
                <use xlink:href="#geo-fill"></use>
              </svg>
              <div>
                <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Wifi</h3>
                <p>{{house.wifi}}</p>
              </div>
            </div>
            <div class="col d-flex align-items-start">
              <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em">
                <use xlink:href="#geo-fill"></use>
              </svg>
              <div>
                <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Aire acondicionado</h3>
                <p>{{house.aireAcondicionado}}</p>
              </div>
            </div>
            <div class="col d-flex align-items-start">
              <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em">
                <use xlink:href="#geo-fill"></use>
              </svg>
              <div>
                <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Descripción</h3>
                <p>{{house.descripcion}}</p>
              </div>
            </div>

          </div>
        </div>
      </div>

      } @else {
      <p>Casa no encontrado.</p>
      }
    </div>
  </div>
</div>






<!-- 
<div class="container mt-5">
  <div class="row">
    <div class="col-2 text-center">

            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">id</th>
                    <th scope="col">nombre</th>
                    <th scope="col">habitaciones</th>
                    <th scope="col">baños</th>
                    <th scope="col">precio</th>
                    <th scope="col">m2</th>
                    <th scope="col">petFriendly</th>
                    <th scope="col">piscina</th>
                    <th scope="col">jardin</th>
                    <th scope="col">terraza</th>
                    <th scope="col">wifi</th>
                    <th scope="col">aireAcondicionado</th>
                    <th scope="col">decripcion</th>
                    <th scope="col">fotoUrls</th>
                  </tr>
                </thead>
                <tbody>
                    @for (house of houses; track house.id) {
                        <tr>
                            <th>{{house.id}}</th>
                            <td>{{house.nombre}}</td>
                            <td>{{house.habitaciones}}</td>
                            <td>{{house.banos}}</td>
                            <td>{{house.precio}}</td>
                            <td>{{house.m2}}</td>
                            <td>{{house.petFriendly}}</td>
                            <td>{{house.piscina}}</td>
                            <td>{{house.jardin}}</td>
                            <td>{{house.terraza}}</td>
                            <td>{{house.wifi}}</td>
                            <td>{{house.aireAcondicionado}}</td>
                            <td>{{house.descripcion}}</td>
                            <td>{{house.fotoUrls}}</td>
                          </tr>
                    }

                </tbody>
              </table>

        </div>
    </div>
  </div>
-->